In [ ]:
# Showing that requests is imported properly
import requests

# Make a GET request to a test endpoint
response = requests.get('https://jsonplaceholder.typicode.com/posts/1')

# Check if request was successful
if response.status_code == 200:
    # Print the JSON response
    print("Request successful! Response data:")
    print(response.json())
else:
    print(f"Request failed with status code: {response.status_code}")

In [1]:
%%sql
CREATE TABLE songs AS SELECT * FROM read_csv_auto('./data/songs.csv');
SELECT * FROM songs;

     title         artist       genre  year  duration   streams
0   Song 1     Ed Sheeran         Pop  2021  03:10:00  33868828
1   Song 2          Drake         R&B  2021  02:26:00  91825067
2   Song 3  Ariana Grande     Hip Hop  2019  03:48:00   5265799
3   Song 4   Taylor Swift     Hip Hop  2013  02:59:00  68827638
4   Song 5            BTS         Pop  2018  02:50:00  97102525
5   Song 6  Ariana Grande        Jazz  2013  03:54:00  80089901
6   Song 7          Adele         Pop  2022  02:40:00  94702683
7   Song 8  Billie Eilish  Electronic  2014  02:39:00  29898923
8   Song 9     The Weeknd     Hip Hop  2011  03:37:00  13981052
9  Song 10     The Weeknd  Electronic  2019  03:07:00   6831819